// -- Lists -- //

ol, ul, dir {
  font-size: inherit;
  padding: 0;
  margin-bottom: $line-height;
  list-style: none;
  li { 
    display: block;
    padding-left: $line-height;
    position: relative;
    &:before {
      display: block;
      position: absolute;
      left: 0; top: 0;
      width: 1.5em;
      line-height: $line-height;
      font-weight: bold;
    }
  }
  ul li:before { content: "-" }
}

menu {
  margin-bottom: $line-height;
  list-style: none;
}

.ruled-list {
  margin-top: - $line-height / 3;
  
  & > li {
    border-top-width: 1px;
    border-top-style: solid;
    @extend %mid-grey_border;
    padding: $line-height / 3 0;
    position: relative;
    &:before {
      display: none;
    }
    &:first-child {
      border-top: none;
    }
  }

  ul {
    margin-bottom: 0;
  }

  label {
    line-height: $line-height;
  }
}

.icon-list {
  @extend .ruled_list;
  & > li {
    padding-left: $gutter * 1.333;
    &:before {
      display: block;
      position: absolute;
      left: 0; top: $line-height * 0.55;
      text-align: center;
      font-weight: 400;
      font-size: 0.75em;
      line-height: $line-height * 1.2;
      width: $line-height * 1.2 !important;
      @include border-radius(50%);
      @extend %white_dark-grey;
    }
  }
}

ol.icon-list li:before { 
  font-family: $sans-stack; 
};

ul {
  list-style: none;
  li:before { content: "•"; }
  &.no-dot li {
    padding-left: 0;
    &:before { content: ""; }
  }
} 

ol {
  list-style: decimal;
  counter-reset: item;
  li:before {
    content: counter(item); 
    counter-increment: item;
  }
}

dir { 
  list-style: none;
  li:before {
    content: "»";
  }
}

dl {
  list-style: none;
  dt {
    font-weight: 700;
    font-size: 0.8em;
    text-transform: uppercase;
    border-bottom: 1px solid whitesmoke;
  }
  dd {
    margin-bottom: $line-height / 2;
  }
}
