.container {
  margin: auto;
  padding: 0 $gutter;
  max-width: $app-max-width;
}

section {
  padding: $line-height * 2 0 $line-height * 2.5;

  &.second, &.sponsors { @extend %off-white_background; }
}


img {
  display: inline-block;
  max-width: 100%;
}

article[role="main"] {
  min-height: 20em;
}



strong.date {
  display: block;
  font-size: 2em;
  margin: .5em 0 -1em;
  line-height: 1.35em;
}


article strong.date {
  font-size: 2.5em;
  margin: 1em 0;
}


.address {
  font-size: 1.5em;
  line-height: 1.5em;
}



.sponsor-links {
  @extend .clearfix;
  margin: 0 -.5em;
}

.sponsor-link {
  display: inline-block;
  max-width: 245px;
  background: white;
  margin-right: -.25em;
  border: .5em solid $off-white;
  padding: 1em 2em;
  box-sizing: border-box;

  &:hover { background: #aaa; }

  img {
    display: block;
    margin: auto;
  }

  @media screen and (max-width: $breakpoint-small) {
    display: block;
    max-width: 1000px;
    padding: 0 1.5em;
  }
}
