.container {
  margin: auto;
  padding: 0 $gutter;
  max-width: $app-max-width;
}

section {
  padding: $line-height * 2 0 $line-height * 2.5;

  &.second { @extend %off-white_background; }
}


img {
  display: inline-block;
  max-width: 100%;
}

article[role="main"] {
  min-height: 20em;
}



strong.date {
  display: block;
  font-size: 2em;
  margin: .5em 0 -1em;
  line-height: 1.35em;
}


article strong.date {
  font-size: 2.5em;
  margin: 1em 0;
}
