// Typography

$font-size: 16px;
$line-height: 1.7em;
$sans-stack: 'Helvetica', 'Verdana', 'Arial', sans-serif;
$serif-stack: 'Lora', 'Droid Serif', 'Georgia', 'Times New Roman', serif;
$mono-stack: 'Menlo', monospace;
$cursive-stack: 'Pacifico', 'Great Vibes', cursive;
$gutter: $line-height * 1.5;

// Z-index

$z-index-flash: 5;
$z-index-admin-header: 6;
$z-index-global-header: 4;
$z-index-icon: 1;

// Structure

$app-max-width: 46em;

$size: 2em;
$padding: $size;
$radius: 2px;
$radius-subtle: $radius / 2;

$header-height: $line-height * 4;

// Repsonsive

$breakpoint-mobile: 690px;
$breakpoint-small: 768px;
$breakpoint-medium: 900px;
$breakpoint-large: 1400px;

// Border-radius

$radius: 3px;
