---
title: 'RHoK Melbourne Website'
subtitle: 'Random hacks of kindness, hacking for humanity.'
hero: 'index.jpg'
---

%section
  .container
    May 12, 2013 - 03:04 -- Simone Esler
    Recommend a SolutionFork
    melbourne

    %p Until recently, all RHoK participating cities have been encouraged to use the RHoK.org global website, rather than build their own local websites.  However, each city is now being encouraged to build a local website that promotes local RHoK initiatives, events etc.

    %p We have started work on an interim website, (www.rhokmelbourne.org) but we would like to build something really fantastic and engaging that integrates well with the global site, while still showcasing all the fantastic work that's being done by the local RHoK Melbourne hackers.  Here are our thoughts so far on what could be incorporated into the RHoK Melbourne Website.

    %h4 Need to have:
    %p (Most of these things are available now on the brand new RHoK Melbourne site - but we'd love to hear your thoughts/ideas on this list)
    %ol
      %li What is RHoK? (Global and local context)
      %li Problems we're working on (ongoing problems and new problems for upcoming events)
      %li Get involved.  This section should included information for hackers, subject matter experts, and non-techie "hackers"
      %li Upcoming RHoK and RHoK n Roll Events (maybe it can be linked to Meetup so we just update one and the other does it automatically?).  There would need to be info about date and location (ideally with a map)
      %li Contact us
      %li 
        Links
        %ul
          %li rhok global
          %li meetup
          %li facebook
          %li twitter
          %li eventbrite

    %h4 Nice to have:

    %p (This is a list compiled by a few of us in the RHoK Melbourne team - but we'd be very open to suggestions from the RHoK Community).

    %ol 
      %li Link problems to RHoK.org, with automatic updates if there are any changes on the global RHoK website.
      %li Solutions that have been posted on the RHoK Melbourne website (also linked to RHoK.org).  Is there a really good way of showcasing the solutions on the RHoK Melbourne site?
      %li Volunteer for RHoK Melbourne - information on how the community can get involved (including RHoK interns)
      %li More detail in the "Get Involved" section (i.e., specific info for people from a legal background/community development/climate change etc)
      %li Donate or sponsor RHoK Melbourne
      %li FAQs
      %li Other Cities Participating - linked to RHoK.org and maybe on a map
      %li Past events - What has the RHoK Melbourne community been working on thus far?  THis could include a summary, some photos, and could perhaps tie in with the problems and solutions pages.
      %li Hacker and problem owner profiles - It would be optional whether people wanted to create their own profiles, but the idea would be to share skills and interests ahead of the event. Meetup is capable of doing this, so it could just be a content page on the website encouraging people to share that kind of stuff on Meetup.
      %li RHoK blog - perhaps this could be tied to the Melbourne page on the RHoK global website.
      %li Resources - this wouldn't even need to be a public page, but just a simple content page to point people at during the event. It could include things like tips and suggestions for certain tools that people can use (things like Git, Basecamp, Pivotal Tracker, Redmine etc).
