.container
  %h1 Search Results

  = render 'search_results/form'

  - if @search_results.any?
    %table
      %thead
        %th Organisation
        %th Location
        %th Category
      %tbody
        - @search_results.each do |search_result|
          -# replace with render search_result.searchable when you have _user
          = render search_result.searchable
  - else
    %p No results found.
