%section#contactUs
  .container
    %ul.ruled-list.one-half.first
      %li= link_to "Meetup", "http://meetup.com"
      %li= link_to "Twitter", "http://twitter.com"
      %li= link_to "Facebook", "http://facebook.com"
