<div class="container">
  <h1>Organisations</h1>
  <%= link_to 'New Organisation', new_organisation_path, class: "icon-plus" %>

  <table class="organisations-list">
    <thead>
      <th>Organisation</th>
      <th>Location</th>
      <th>Category</th>
    </thead>
    <tbody>
      <%= render @organisations %>
    </tbody>
  </table>

  <%= # will_paginate @organisation, :style => 'color:blue' %>
  <%= # page_entries_info @organisation %>

</div>
