<div class="container">
  <h1>Organisations</h1>

  <ul class="organisations-list">
    <% @organisations.each do |organisation| %>
      <li>
        <label>
          <%= link_to organisation.name, organisation %>
        </label>
        <p>city: <%= organisation.city %></p>
        <p>category: <%= organisation.category %></p>


      </li>
    <% end %>
  </ul>

  <%= link_to 'New Organisation', new_organisation_path, class: "icon-plus" %>
</div>
