---
title: 'Volunteer | RHOK - Brisbane 2013'
subtitle: 'Random hacks of kindness, hacking for humanity.'
---

%section
  .container

    %p
      %em More information about the event will be available shortly.

    %p
      Be sure to
      = link_to "let us know", "mailto:ruth@netengine.com.au"
      if you are interested in helping out.
