postgres:       &postgres
  adapter:      postgresql
  encoding:     unicode
  host:         localhost
  min_messages: warning
  username:     netengine

development:
  <<: *postgres
  database:     resonate_dev

test:
  <<: *postgres
  database:     resonate_test
