.container
  %h2 What is RHoK?
  %p RHoK is a global hackathon that takes part twice a year. It was started in 2009 by Google, NASA, Yahoo!, Microsoft and the World Bank, and since then RHoK has been bringing together thousands of people around the world to create open source solutions that can save lives and alleviate suffering. RHoK Melbourne events encourage participants to develop solutions that can be used, in particular, to help people prepare for and respond to natural disasters. Melbourne is again taking part in the next global RHoK event in June this year.

