.container

  %h2 RHoK Global Hackathon

  %p
    %strong
      %em Date TBA: Anticipate December 2013

  -# %p The next RHoK is approaching fast. You can sign up to the event via Eventbrite

  -# %p  See our Press Release here. Our post-event Press Release is here.

  %p
    RHoK Brisbane will be hosted by NetEngine at their office location:
  %p
    7 Prospect Street, Fortitude Valley,
    %br
    Brisbane Australia 4006

  %h3  Saturday

  %ul
    %li 9.00 – 9.30 Get set up, and ready for 2 great days
    %li 9.30 – 9.45 Welcome and administrivia
    %li 9.45 - 10.30 Choosing problem areas to work on, and teams to work with
    %li 11.00 - 19.00 start your hacking
    %li 19.00 – 20.00 Dinner (on us)
    %li 20.00 – 02.00 more time to design and develop

  %p We'll have light snacks, fruit, drinks and the like on hand to keep your blood sugar levels up.

  %p You can work as late as 2.00am, or head home a little earlier to catch up on some sleep

  %h3  Sunday

  %ul
    %li 8.00 – 13.00 Coding continues
    %li 14.00 – Time to down tools
    %li 14.30 – 15.30 All projects get 10 minutes to present their work to all (and the judges)
    %li 15.30 – 16.00 Judges deliberate
    %li 16.00 – 16.30 Awards and prizes
    %li 16.30 onwards - come share a drink to unwind
