
%p
  Random Hacks of Kindness Brisbane (RHoK) is a not for profit local group that is part of a global movement of hackers who are hacking for good around the world. We invite participants to work together to produce practical open source solutions to problems affecting the developing world.


%h2 What is RHoK?

%p
  = link_to 'RHoK', 'http://www.rhok.org/', target: "_blank"
  is a global hackathon that takes place twice a year. It was started in 2009 by Google, NASA, Yahoo!, Microsoft and the World Bank, and since then RHoK has been bringing together thousands of people around the world to create open source solutions that can save lives and alleviate suffering. RHoK Brisbane  events are aimed at encouraging participants to develop solutions that can be used, in particular, to help people in the developing world including Africa, Haiti and Australia. Brisbane will host its first hack event in December (part of the final global hackathon) for 2013.
