
%h2 The Problem

%p
  RHOK Brisbane will be working with
  = link_to "Hummingbird House", "http://www.hummingbirdhouse.org.au/", target: "_blank"
  to solve problems for families in Queensland. Visit
  = link_to "hummingbirdhouse.org.au", "http://www.hummingbirdhouse.org.au/", target: "_blank"
  for more information about the project.
