
%h2 Who are we helping?

%p
  = link_to "queenslandkids.org.au", "http://www.queenslandkids.org.au", target: "_blank", title: "Queensland Kids"

  = "- The biggest problem that <em>Queensland Kids</em> and their families are facing is being able to access the services and information available to them."
%p
  We'll be hacking solutions to bridge this gap, taking advantage of all the existing resources, open data, and technology solutions we can find.
