
%h2 The Problem

%p
  RHOK Brisbane will be working with
  = link_to "Queensland Kids", "http://www.queenslandkids.org.au", target: "_blank"
  to solve problems for families in Queensland. Visit
  = link_to "queenslandkids.org.au", "http://www.queenslandkids.org.au", target: "_blank"
  for more information about the project.
