%h2 Sponsors

.sponsor-links
  = link_to image_tag('sponsors/netengine.png'), 'http://netengine.com.au/', title: "NetEngine", target: "_blank", class: "sponsor-link"

  = link_to image_tag('sponsors/grilld.png'), 'http://www.grilld.com.au/', title: "Grill'd", target: "_blank", class: "sponsor-link"

  = link_to image_tag('sponsors/tonic.png'), 'http://tonicespressobar.cc/', title: "TONIC Bar + Espresso", target: "_blank", class: "sponsor-link"

  = link_to image_tag('sponsors/ninefold.png'), 'http://ninefold.com/', title: "Ruby on Rails App Hosting & Deployment - Ninefold", target: "_blank", class: "sponsor-link"
