
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,400italic);

// Typography

$font-family:             'Lato', 'Source Sans Pro', 'Helvetica Neue', sans-serif;
$font-family-headings:    $font-family;
$font-family-icons:       'icomoon';

$line-height:             1.5em;

$font-size:               100%;

$font-size-level-one:     3em;
$font-weight-level-one:   300;
$line-height-level-one:   $line-height * 0.667;
$margin-level-one:        $line-height * 0.667;

$font-size-level-two:     1.75em;
$font-weight-level-two:   500;
$line-height-level-two:   $line-height * 0.75;
$margin-level-two:        $line-height * 0.75;

$font-size-level-three:   1.5em;
$font-weight-level-three: 600;
$line-height-level-three: $line-height * 0.8;
$margin-level-three:      $line-height * 0.8;

$font-size-level-four:    1.25em;
$font-weight-level-four:  700;
$line-height-level-four:  $line-height * 0.8;
$margin-level-four:       $line-height * 0.8;

$font-size-level-five:    1em;
$font-weight-level-five:  700;
$line-height-level-five:  $line-height;
$margin-level-five:       $line-height;

$font-size-level-six:     0.8em;
$font-weight-level-six:   700;
$line-height-level-six:   $line-height * 1.25;
$margin-level-six:        $line-height * 1.25;



// Colours

$pink:                      #e50050;
$orange:                    #e8412a;

$color-primary:             $pink;
$color-primary-light:       lighten($color-primary, 30%);
$color-primary-dark:        darken($color-primary, 30%);

$black:                     black;
$white:                     white;
$gray-darker:               lighten($black, 13.5%);
$gray-dark:                 lighten($black, 20%);
$gray:                      lighten($black, 33.5%);
$gray-light:                lighten($black, 75%);
$gray-lighter:              lighten($black, 87.5%);

$color-success:             hsl(85, 60%, 52%);
$color-success-light:       lighten($color-success, 35%);
$color-warning:             hsl(45, 83%, 73%);
$color-warning-light:       lighten($color-warning, 35%);
$color-danger:              hsl(357, 88%, 63%);
$color-danger-light:        lighten($color-danger, 35%);
$color-info:                $color-primary;
$color-info-light:          lighten($color-info, 35%);

$color-background-overlay:  rgba($black, 0.7);

$palette:
  "white"         $white,
  "black"         $black,
  "primary"       $color-primary,
  "primary-light" $color-primary-light,
  "gray-darker"   $gray-darker,
  "gray-dark"     $gray-dark,
  "gray"          $gray,
  "gray-light"    $gray-light,
  "gray-lighter"  $gray-lighter,
  "success"       $color-success,
  "success-light" $color-success-light,
  "warning"       $color-warning,
  "warning-light" $color-warning-light,
  "danger"        $color-danger,
  "danger-light"  $color-danger-light,
  "info"          $color-info,
  "info-light"    $color-info-light;


// Links

$link-color:                    $color-primary;
$link-color-hover:              $color-primary;
$link-color-active:             $color-primary;
$link-color-visited:            $color-primary;

$main-link-color:               $link-color;
$main-link-color-hover:         darken($link-color, 15%);
$main-link-color-active:        darken($link-color, 25%);
$main-link-color-visited:       lighten($link-color, 15%);

$footer-link-color:             $link-color;
$footer-link-color-hover:       darken($link-color, 15%);
$footer-link-color-active:      darken($link-color, 25%);
$footer-link-color-visited:     lighten($link-color, 15%);


// Buttons

$button-default-foreground-color:         $white;
$button-default-background-color:         $gray-dark;
$button-default-border-color:             $gray-darker;

$button-default-hover-foreground-color:   $white;
$button-default-hover-background-color:   $gray-dark;
$button-default-hover-border-color:       $gray-darker;

$button-default-active-foreground-color:  $white;
$button-default-active-background-color:  $gray-dark;
$button-default-active-border-color:      $gray-darker;

$button-submit-foreground-color:          $white;
$button-submit-background-color:          $color-primary;
$button-submit-border-color:              $color-primary-dark;

$button-danger-foreground-color:          $white;
$button-danger-background-color:          $gray-dark;
$button-danger-border-color:              $gray-darker;


$button-submit-background-color:          $color-primary;
$button-submit-foreground-color:          $white;
$button-submit-border-color:              darken($color-primary, 5%);

$button-submit-hover-background-color:    darken($color-primary, 5%);
$button-submit-hover-foreground-color:    $white;
$button-submit-hover-border-color:        darken($color-primary, 10%);


// Inputs

$input-foreground-color:        $black;
$input-background-color:        $white;
$input-border-color:            $gray-light;

$input-hover-foreground-color:  $color-info;
$input-hover-background-color:  $color-info-light;
$input-hover-border-color:      $color-info;

$input-focus-foreground-color:  $black;
$input-focus-background-color:  $white;
$input-focus-border-color:      $color-success;


// Selects

$select-foreground-color:       $black;
$select-background-color:       $gray-lighter;
$select-border-color:           $gray-light;

$select-hover-foreground-color: $color-info;
$select-hover-background-color: $color-info-light;
$select-hover-border-color:     $color-info;

$select-focus-foreground-color: $color-success;
$select-focus-background-color: $color-success-light;
$select-focus-border-color:     $color-success;


// Breakpoints

$breakpoint-small:        32em;
$breakpoint-medium:       48em;
$breakpoint-large:        75em;


// Layout

$gutter:                  $line-height * 1.5;
$page-margin:             $line-height * 2;
$max-width:               $breakpoint-medium;
$center-layout:           true;


// Stroke widths

$heavy-stroke:            $line-height / 4;
$medium-stroke:           $line-height / 8;
$light-stroke:            0.1em;

$default-border-color:    $gray-light;
$light-border-color:      $gray-lighter;


// Misc

$radius: .15em;
$border-width: .125em;

// Tabs

$tab-border-width: $border-width;
$tab-nav-background-color: $gray;
$tab-border-color: darken($tab-nav-background-color, 10%);

