<div class="hero">
  <div class="container">
    <%= link_to image_tag('logos/logotype-color.png'), '/' %>
  </div>
</div>

<section>
  <div class="container">
    <h1>Landing page</h1>
  </div>
</section>
