<div class="hero">
  <div class="container">
    <%= link_to image_tag('logos/logotype-color.png'), '/' %>
  </div>
</div>

<section>
  <div class="container">
    <%= render 'search_results/form' %>
  </div>
  <div class="container">
  	<p>Resonate is a not for profit organisation committed to helping customers find socially purposed and socially responsible businesses.*  Via the easy-to-use online finder, customers can locate and share businesses that give back, while following the great stories of impact these businesses are creating in the community.</p>
  	<p>
  	Users can find social businesses in three easy steps:
  	<ol>
  		<li>By geo-location</li>
  		<li>By category</li>
  		<li>By name or search term</li>
  	</ol>
    <p>Customers can favourite or share businesses they like, encouraging their social media networks to become customers-with-conscience too.</p>
    <p>We believe that by giving customers the choice to spend where their heart is, they can collectively encouraging more businesses to have sustainable and social impacts.</p>

    <p>Via tracking codes on most products and services, customers can keep in touch with the projects their dollars are investing in. This way, the consumer feels connected directly to the community projects.</p>

    <p>Resonate, with the help of Random Hacks of Kindness is releasing the first version of the finder app soon. If you are a socially purposed business please sign up via the registration form below.</p>
  	</p>
  </div>
</section>
