<div class="hero">
  <div class="container">
    <%= link_to image_tag('logos/logotype-color.png'), '/' %>
  </div>
</div>

<section>
  <div class="container">
    <%= render 'search_results/form' %>
  </div>
  <div class="container">
  	<p>Resonate is a not for profit organisation committed to helping customers find socially purposed and socially responsible businesses.*  Via the easy-to-use online finder, customers can locate and share businesses that give back, while following the great stories of impact these businesses are creating in the community.</p>
  	<p>
  	Users can find social businesses in three easy steps:
  	<ol>
  		<li>By geo-location</li>
  		<li>By category</li>
  		<li>By name or search term</li>
  	</ol>
  	</p>
  </div>
</section>
