---
title: 'RHOK - Brisbane 2013'
subtitle: 'Random hacks of kindness, hacking for humanity.'
hero: 'index.jpg'
---

%section.first
  = partial 'intro_sections/welcome'

%section.second  
  = partial 'intro_sections/exposition'

%section.last
  = partial 'intro_sections/the_event'
