---
title: 'RHOK - Brisbane 2013'
subtitle: 'Random hacks of kindness, hacking for humanity.'
hero: 'index.jpg'
---

%section.first
  .container= partial 'sections/exposition'

%section.second#problem
  .container
    = partial 'sections/problem'

%section.last
  .container= partial 'sections/the_event'

%section.sponsors
  .container= partial 'sections/sponsors'
