---
title: 'RHOK - Brisbane 2013'
subtitle: 'Random hacks of kindness, hacking for humanity.'
hero: 'problems.jpg'
---

%section#problems-list
  .container
    - if data.problems

      - data.problems.each do |problem|
        .one-third.problem-index-item
          %h3.three-line-header= problem.title
          %p.problem-summary= problem.summary
          = link_to 'Read more', "http://net-engine.github.io/rhok_brisbane_2013/problems/#{problem.slug}"

    - else
      %em{style: "font-size: 2em;"} Coming soon

      %br
      %br
      %br
      %br
      %br
      %br
      %br
