
.header {
  @extend .clearfix;
  @extend %white_black;
  background-image: url(../images/hero-bg.jpg);
  background-position: center;
  @include background-size(cover);
  position: relative;

  .hero-text {
    padding-top: $line-height * 2;
    padding-bottom: $line-height * 2;
  }

  .one-half.last {
    border-left-width: 1px;
    border-left-style: solid;
    @extend %white_border;
    vertical-align: bottom;
    margin-bottom: $line-height / 3;
  }

  .subtitle {
    font-family: $sans-stack;
    font-size: 1.5em;
  }

  @media screen and (max-width: $breakpoint-small) {
    .one-half.last {
      border: 0;
      padding: 0;
      margin-top: $line-height;
    }
  }
}


.logo {
  img {
    display: block;
    max-width: 100%;
  }
}
