nav {

  a {
    @extend %white;
    display: inline-block;
    font-size: 1.15em;
    font-family: $sans-stack;
    padding: ($line-height / 2) 0;
    margin-right: 1em;

    &:hover, &.active { @extend %primary; }
    &:visited { @extend %off-white; }
  }

  @media screen and (max-width: $breakpoint-small) {
    a {
      display: block;
      padding: 0 0 .5em;
      margin: 0;
    }
  }
}
