header[role="banner"] {
  @extend %white_primary;
  min-height: $header-height;
  padding: $line-height * 2 $gutter * 2;
  position: relative;

  .one-half.last {
    border-left-width: 1px;
    border-left-style: solid;
    @extend %white_border;
    vertical-align: bottom;
    margin-bottom: $line-height / 3;
  }
  .hero-text {
    margin-bottom: $line-height * 3;
  }
  .subtitle {
    font-family: $sans-stack;
    font-size: 1.5em;
  }
}
